* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  font-family: argerian;
  line-height: 1.6;

}

header {
  background-image: url(banner.jpg);
  background-size: cover; 
  color: #f7eded;
  padding: 20px 0;
  text-align: center;
  margin-top: 0;
}

header h1 {
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

main{
    background-image: url(istockphoto-1153036013-1024x1024.jpg);
}
nav ul li a {
  text-decoration: none;
  color: #090606;
}

section {
  padding: 50px 0;
  text-align: center;
}

.section h2 {
  margin-bottom: 20px;
}

.feature {
  margin-bottom: 40px;
}

/* Form Styles */
form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.classes {
  margin-bottom: 20px;
}
.classes {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 60%;
  margin: 10rem auto 0 auto;
}

.classes img {
  height: 250px;
}
.classes h1 {
  margin-top: 0px;
  color: greenyellow;
}
#classes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  gap: 20px;
  padding: 20px;
}

.card {
  flex: 1 1 300px;
  /* Flexbox shorthand */
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

h2 {
  color: #333;
  margin-top: 0;
}

p {
  color: #666;
  line-height: 1.5;
}

form button {
  background-color: #0c0606;
  color: #faf7f7;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

footer {
  background-color: rgb(60, 63, 63);
  color: #4c0a0a;
  text-align: center;
  padding: 20px 0;
}
